apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness
spec:
  replicas: 2
  selector:
    matchLabels:
      app: aceest-fitness
  template:
    metadata:
      labels:
        app: aceest-fitness
    spec:
      containers:
      - name: aceest-fitness
        image: imp98/aceest-fitness:latest
        ports:
        - containerPort: 5000

